Source: drumee-conference
Section: non-free
Priority: optional
Maintainer: Somanos Sar <somanos.sar@drumee.com>
Standards-Version: 1.0.0
Homepage: https://drumee.com

Package: drumee-conference
Architecture: all
Depends: ${misc:Depends}, binutils, nodejs, drumee-infra, prosody, 
  jitsi-meet, jitsi-meet-prosody, jitsi-meet-turnserver, jitsi-meet-web,
  jitsi-meet-web-config, jitsi-videobridge2, lua-basexx
Description: Drumee Conference Server
