<!-- Hero Section -->
<section class="heros">
  <div class="heros__wrapper heros__wrapper--top">
    <article class="hero hero--split">
      <div class="hero__content">
        <h2 class="hero__title">Join Drumee community</h2>

        <p class="hero__desc">
          Connect with the Drumee community. Share, collaborate, and stay in
          control of your space.
        </p>

        <button class="hero__btn">Join the community</button>
      </div>

      <div class="hero__media">
        <img
          src="/src/assets/new/images/communities_hero.png"
          alt="Privacy preview"
          class="hero__image"
        />
      </div>
    </article>
  </div>
</section>

<!-- Communities Section -->

<div id="communities"></div>

<!-- Help Card Section -->

<section class="help-card">
  <div class="help-card__container">
    <h2 class="help-card__title">Need help getting started?</h2>

    <p class="help-card__description">
      Check out our documentation for guides, tutorials, and technical
      references.
    </p>

    <a href="/src/pages/new/docs.html" class="help-card__link">
      View Documentation ➯
    </a>
  </div>
</section>
