<!-- Hero Section -->
<section class="hero">
  <div class="hero__container">
    <div class="hero__icon">
      <img src="/src/assets/new/logos/hero-logo.png" alt="Drumee icon" />
    </div>

    <h1 class="hero__title">Your Desktop. Your Cloud. Your Rules.</h1>

    <p class="hero__description">
      Drumee is a desktop in the cloud – one workspace to manage your files / chats and collaboration
    </p>

    <!-- Pricing Section -->
    <div id="hero-pricing"></div>
  </div>
</section>

<!-- Table Section -->

<section
  class="compare"
  aria-labelledby="compare-title"
  data-component="compare-features"
>
  <div class="compare__inner" id="compare-table"></div>
</section>
