Source: drumee-infra
Section: non-free
Priority: optional
Maintainer: Somanos Sar <somanos.sar@drumee.com>
Standards-Version: 1.2.11
Homepage: https://drumee.org

Package: drumee-infra
Architecture: all
Depends: ${misc:Depends}, binutils, apt-utils, git, nodejs (>= 20), nginx, libnginx-mod-stream,
  cron, libncurses6, git, g++, gyp, openssh-client, libcurl4, wireguard-tools, iproute2
Description: Setup Drumee infrastructure and environment
