@use 'colors';

.sandbox-app {
  &__welcome-logo {
    &.header {
      height: 90px;

      &[data-device="mobile"] {
        height: 60px;
      }

      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
    }

    img {
      height: 100%;
    }
  }

  &__entry {
    &.email {
      height: 42px;
      width: 300px;
      margin-top: 60px;
    }

    &[data-error="1"] {
      border: 2px solid red;
    }

    input {
      width: 100%;
      border-radius: calc(var(--radius) - 4px);
    }
  }

  &__welcome {
    width: 100%;
    justify-items: center;
    justify-content: center;


    &.container {
      width: 100%;
      height: auto;
      margin: auto;
    }

    &.content {
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      align-items: center;
      justify-items: center;
      padding: 0 10px;
    }

    &.title {
      font-weight: 600;
      font-size: 15px;
      line-height: 26px;
      color: colors.$text-bold;
      &[data-device="mobile"] {
        font-size: 19px;
        line-height: 19px;
      }
    }

    &.buttons {
      margin: 0 auto;
      max-width: 700px;
      justify-content: center;
      margin-top: 40px;
      gap: 1rem;
    }

    &.text {
      font-size: 15px;
      line-height: 21px;
      color: white;
      max-width: 700px;
      margin-top: 15px;

      &[data-device="mobile"] {
        font-size: 15px;
        line-height: 21px;
      }

      &drumee-text.inner {
        text-align: justify;
      }
    }

    &.button {
      font-size: 16px;
      height: 42px;
      max-width: 300px;
      height: 42px;
      align-content: center;
      flex-wrap: wrap;
      border-radius: 5px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: hsl(var(--secondary) / .8);
      }

      &drumee-text.inner {
        text-align: justify;
      }
    }

  }
}