<div class="nav-bar">
  <div class="nav-bar__logo">
    <a href="/src/pages/new/home.html">
      <img src="/src/assets/new/logos/nav-bar-logo.png" alt="Drumee" />
    </a>
  </div>

  <div class="nav-bar__center">
    <div class="nav-bar__toggle" id="navToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="nav-bar__menu" id="navMenu">
      <div class="nav-bar__item">
        <a href="https://app.drumee.org" class="nav-bar__link"
          >Our Application</a
        >
      </div>

      <div class="nav-bar__item">
        <a href="/src/pages/new/communities.html" class="nav-bar__link"
          >Communities</a
        >
      </div>

      <div class="nav-bar__item">
        <a href="/src/pages/new/docs.html" class="nav-bar__link">Docs</a>
      </div>

      <div class="nav-bar__item">
        <a href="/src/pages/new/pricing.html" class="nav-bar__link">Pricing</a>
      </div>

      <div class="nav-bar__item nav-bar__item--mobile-only">
        <a href="https://app.drumee.org/-/#welcome/signin" class="nav-bar__link"
          >Sign in</a
        >
      </div>

      <div class="nav-bar__item nav-bar__item--mobile-only">
        <a href="https://app.drumee.org/-/#welcome/signup" class="nav-bar__link"
          >Register</a
        >
      </div>
    </div>
  </div>

  <div class="nav-bar__actions">
    <a
      href="https://app.drumee.org/-/#/welcome/signin"
      class="nav-bar__button nav-bar__button--sign-in"
    >
      Sign in
    </a>

    <a
      href="https://app.drumee.org/-/#/welcome/signup"
      class="nav-bar__button nav-bar__button--register"
    >
      Register
    </a>
  </div>
</div>

<div class="nav-overlay" id="navOverlay"></div>
