<!DOCTYPE html>
<html lang="fr">
	<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
		<!--[if lt IE 91]>
	<script
	src="http://htlm5shiv.googlecode.com/svn/trunk/htlm5.js"></script>
  <![endif]-->
  <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
  rel="stylesheet"
  type="text/css"
/>
<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
</style>
<!--<![endif]-->
<link rel="stylesheet" href="drumee.css"/>
<link rel="stylesheet" href="invitation-network-sf.css"/>
		<title>Drumee, my private cloud desktop</title>
  </head>

  <body style="margin:0; padding:0;">
      <div class="message-container">

        <div class="cont_logo">
          <div class="row">
            <div class="column">
              <div class="logo">
                <img src="https://drumee.com/images/logo/main.png" alt="logo du site" id="logo"/>
              </div>
              <div class="logo-text">My private cloud desktop</div>    
            </div>
          </div>
        </div>
        <div class="message-container-text">            
          <div class="column">
            <p class="sign-email"> email@email.em</p>
            <p class="text text-inbound">vous a créé une boîte aux lettres Drumee pour y glisser/déposer vos fichiers. Cliquez sur le lien ci-après pour y accéder. 
            </p>
            <p class="message"> <message id="blue">Message :</message id><br><br> Bonjour, je vous ai transferé des fichiers avec Drumee mon nouveau bureau “tout en un” dans le cloud.<br><br>
              <signature id="signature">Signature</signature></p>
            <p class="text link">Ouvrir la boîte aux lettres</p> 
            <div class="cont_end-text"> 
              <div class="column">  
                <p class="company">
                  <drumee id ="strong">Drumee</drumee id> est un nouveau bureau collaboratif en ligne 100% privé.
                  Aucune donnée personnelle n’est nécessaire hormis votre mail qui est gardé confidentiel.
                </p>
                <div class="row notice">
                  <img src="https://drumee.com/icons/charter.svg" class="icon notice"></img>
                  <p class="presenting">Charte de confidentialité</p>
                </div>
                <div class="row video">
                  <img src="https://drumee.com/icons/camera.svg" class="icon video"></img>
                  <p class="presenting video">Vidéo sur Drumee (30 sec.)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-footer_text link">  
          <div class="column">
            <p class="link"> 
                <a href="https://drumee.com" target="_blank">www.drumee.com</a>
            </p>
          </div>
        </div>
      </div>
  </body>
</html>



