<!DOCTYPE html>
<html lang="fr">
	<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
		<!--[if lt IE 91]>
	<script
	src="http://htlm5shiv.googlecode.com/svn/trunk/htlm5.js"></script>
  <![endif]-->
  <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
  rel="stylesheet"
  type="text/css"
/>
<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
</style>
<!--<![endif]-->
    <link rel="stylesheet" href="drumee.css"/>
    <link rel="stylesheet" href="signup.css"/>
		<title>Drumee, my private cloud desktop</title>
  </head>

  <body style="margin:0; padding:0;">
      <div class="message-container">

        <div class="cont_logo">
              <div class="row">
                <div class="column">
                    <div class="logo"><img src="https://drumee.com/images/logo/main.png" alt="logo du site" id="logo"/></div>
                    <div class="logo-text">My private cloud desktop </div>   
                </div>
              </div>
            </div>

        <div class="message-container-text">            
            <div class="column">
                <p class="hello">Bonjour,</p>
                <p class="sign-email"> email@email.em</p>
                <p class="text password">Pour modifier votre mot de passe, cliquez sur le lien ci-dessous :</p>
                <p class="text link">ZZFRJLBFSFDTH4098HKKHFDZ2335780J</p> 
                <p class="signature">L'équipe Drumee </p>
            </div>    
        </div>

        <div class="cont-footer_text link">  
            <div class="row">
                <p class="link"> 
                    <a href="https://drumee.com" target="_blank">www.drumee.com</a>
                </p>
            </div>
        </div>
     </div>
  </body>
</html>



