Source: drumee-mfs
Section: non-free
Priority: optional
Maintainer: Somanos Sar <somanos.sar@drumee.com>
Standards-Version: 1.0.0
Homepage: https://drumee.com

Package: drumee-mfs
Architecture: all
Depends: ${misc:Depends}, drumee-infra
Description: Drumee Meta Filesystem
